<div class="account-content">
    <div class="login-wrapper bg-img">
      <div class="login-content">
        <form #loginForm="ngForm" (ngSubmit)="validateUser()">
          <div class="login-userset">
            <div class="login-logo logo-normal">
              <img src="assets/img/logo.png" alt="img">
            </div>
            <a [routerLink]="routes.adminDashboard" class="login-logo logo-white">
              <img src="assets/img/logo-white.png" alt="">
            </a>

            <div class="card-body">
              <p-toast></p-toast>
            </div>


            <div class="login-userheading">
              <h3>Sign In</h3>
              <h4>Access the Dreamspos panel using your email and passcode.</h4>
            </div>
            <div class="form-login mb-3">
              <label class="form-label">Email Address</label> <!-- Corrected typo -->
              <div class="form-addons">
                <input type="text" class="form-control" name="loginId" [(ngModel)]="login.loginId">
                <img src="assets/img/icons/user-icon.svg" alt="img">
              </div>
            </div>
            <div class="form-login mb-3">
              <label class="form-label">Password</label>
              <div class="pass-group">
                <input [type]="password[0] ? 'text' : 'password'" class="pass-input" name="password" [(ngModel)]="login.password"> <!-- Use password[0] -->
                <span class="fas toggle-password" [ngClass]="password[0] ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword(0)"></span> <!-- Use password[0] -->
              </div>
            </div>
            <div class="form-login authentication-check">
              <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-between">
                  <div class="custom-control custom-checkbox custom-class-check">
                    <label class="checkboxs ps-4 mb-0 pb-0 line-height-1">
                      <input type="checkbox" class="form-control">
                      <span class="checkmarks"></span>Remember me
                    </label>
                  </div>
                  <div class="text-end">
                    <a class="forgot-link" [routerLink]="routes.forgotPassword">Forgot Password?</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-login">
              <button type="submit" class="btn btn-login">Sign In</button> <!-- Changed type to submit -->
            </div>
            <div class="signinform">
              <h4>New on our platform?<a [routerLink]="routes.register" class="hover-a"> Create an account</a></h4>
            </div>
            <div class="form-setlogin or-text">
              <h4>OR</h4>
            </div>
            <div class="form-sociallink">
              <ul class="d-flex">
                <li>
                  <a href="javascript:void(0);" class="facebook-logo">
                    <img src="assets/img/icons/facebook-logo.svg" alt="Facebook">
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="assets/img/icons/google.png" alt="Google">
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="apple-logo">
                    <img src="assets/img/icons/apple-logo.svg" alt="Apple">
                  </a>
                </li>
              </ul>
              <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
                <p>Copyright &copy; 2023 DreamsPOS. All rights reserved</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>