<div class="cardhead">


        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Charts</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Charts</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">

            <!-- Chart -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Apex Simple</h5>
                    </div>
                    <div class="card-body">

                        <div id="s-line" class="chart-set">
                            <apx-chart
                            [series]="Linechart.series"
                            [chart]="Linechart.chart"
                            [xaxis]="Linechart.xaxis"
                            [dataLabels]="Linechart.dataLabels"
                            [grid]="Linechart.grid"
                            [stroke]="Linechart.stroke"
                            [title]="Linechart.title"
                          ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Chart -->

            <!-- Chart -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Area Chart</h5>
                    </div>
                    <div class="card-body">
                        <div id="s-line-area" class="chart-set"> <apx-chart
                            [series]="Areachart.series"
                            [chart]="Areachart.chart"
                            [xaxis]="Areachart.xaxis"
                            [stroke]="Areachart.stroke"
                            [tooltip]="Areachart.tooltip"
                            [dataLabels]="Areachart.dataLabels"
                          ></apx-chart></div>
                    </div>
                </div>
            </div>
            <!-- /Chart -->

            <!-- Chart -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Column Chart</h5>
                    </div>
                    <div class="card-body">
                        <div id="s-col" class="chart-set"><apx-chart
                            [series]="ColumnCharts.series"
                            [chart]="ColumnCharts.chart"
                            [dataLabels]="ColumnCharts.dataLabels"
                            [plotOptions]="ColumnCharts.plotOptions"
                            [yaxis]="ColumnCharts.yaxis"
                            [legend]="ColumnCharts.legend"
                            [fill]="ColumnCharts.fill"
                            [stroke]="ColumnCharts.stroke"
                            [tooltip]="ColumnCharts.tooltip"
                            [xaxis]="ColumnCharts.xaxis"
                          ></apx-chart></div>
                    </div>
                </div>
            </div>
            <!-- /Chart -->

            <!-- Chart -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Column Stacked Chart</h5>
                    </div>
                    <div class="card-body">
                        <div id="s-col-stacked" class="chart-set"><apx-chart
                            [series]="StackedCharts.series"
                            [chart]="StackedCharts.chart"
                            [dataLabels]="StackedCharts.dataLabels"
                            [plotOptions]="StackedCharts.plotOptions"
                            [responsive]="StackedCharts.responsive"
                            [xaxis]="StackedCharts.xaxis"
                            [legend]="StackedCharts.legend"
                            [fill]="StackedCharts.fill"
                          ></apx-chart></div>
                    </div>
                </div>
            </div>
            <!-- /Chart -->


            <!-- Chart -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Bar Chart</h5>
                    </div>
                    <div class="card-body">
                        <div id="s-bar" class="chart-set"> <apx-chart
                            [series]="BarCharts.series"
                            [chart]="BarCharts.chart"
                            [dataLabels]="BarCharts.dataLabels"
                            [plotOptions]="BarCharts.plotOptions"
                            [xaxis]="BarCharts.xaxis"
                          ></apx-chart></div>
                    </div>
                </div>
            </div>
            <!-- /Chart -->

            <!-- Chart -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Mixed Chart</h5>
                    </div>
                    <div class="card-body">
                        <div id="mixed-chart" class="chart-set"><apx-chart
                            [series]="MixedChart.series"
                            [chart]="MixedChart.chart"
                            [yaxis]="MixedChart.yaxis"
                            [xaxis]="MixedChart.xaxis"
                            [labels]="MixedChart.labels"
                            [stroke]="MixedChart.stroke"
                            [title]="MixedChart.title"
                            [dataLabels]="MixedChart.dataLabels"
                            [fill]="MixedChart.fill"
                            [tooltip]="MixedChart.tooltip"
                          ></apx-chart></div>
                    </div>
                </div>
            </div>
            <!-- /Chart -->

            <!-- Chart -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Donut Chart</h5>
                    </div>
                    <div class="card-body">
                        <div id="donut-chart" class="chart-set"> <apx-chart
                            [series]="DonutChart.series"
                            [chart]="DonutChart.chart"
                            [labels]="DonutChart.labels"
                            [responsive]="DonutChart.responsive"
                          ></apx-chart></div>
                    </div>
                </div>
            </div>
            <!-- /Chart -->

            <!-- Chart -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Radial Chart</h5>
                    </div>
                    <div class="card-body">
                        <div id="radial-chart" class="chart-set"> <apx-chart
                            [series]="RadialChart.series"
                            [chart]="RadialChart.chart"
                            [plotOptions]="RadialChart.plotOptions"
                            [labels]="RadialChart.labels"
                          ></apx-chart></div>
                    </div>
                </div>
            </div>
            <!-- /Chart -->

        </div>

</div>
