    <div class="page-header">
        <div class="page-title">
            <h4>Popovers</h4>
        </div>
    </div>
    <div class="row">

        <!-- Default Popovers -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Default Popovers</h5>
                </div>
                <div class="card-body">
                    <div class="btn-list popover-list">
                        <a tabindex="0" class="btn btn-outline-primary btn-wave" role="button"
                            popover="And here's some amazing content. It's very engaging. Right?"
                            popoverTitle="Popover Top" placement="top" data-bs-toggle="popover" data-bs-placement="top"
                            data-bs-content="And here's some amazing content. It's very engaging. Right?">Popover
                            Top
                        </a>
                        <a tabindex="0" class="btn btn-outline-primary btn-wave" role="button" data-bs-toggle="popover"
                            popover="And here's some amazing content. It's very engaging. Right?"
                            popoverTitle="Popover Right" placement="right" data-bs-placement="right"
                            data-bs-content="And here's some amazing content. It's very engaging. Right?">Popover
                            Right</a>
                        <a tabindex="0" class="btn btn-outline-primary btn-wave" role="button" data-bs-toggle="popover"
                            popover="And here's some amazing content. It's very engaging. Right?"
                            popoverTitle="Popover Bottom" placement="bottom" data-bs-placement="bottom"
                            data-bs-content="And here's some amazing content. It's very engaging. Right?">Popover
                            Bottom</a>
                        <a tabindex="0" class="btn btn-outline-primary btn-wave" role="button" data-bs-toggle="popover"
                            popover="And here's some amazing content. It's very engaging. Right?"
                            popoverTitle="Popover Left" placement="left" data-bs-placement="left" 
                            data-bs-content="And here's some amazing content. It's very engaging. Right?">Popover
                            Left</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Default Popovers -->

        <!-- Basic Popovers -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Basic Popovers</h5>
                </div>
                <div class="card-body">
                    <div class="btn-list popover-list">
                        <button class="btn btn-primary" type="button" data-bs-toggle="popover"
                            data-bs-content="And here's some amazing content. It's very engaging. Right?"
                            popover="And here's some amazing content. It's very engaging. Right?"
                            popoverTitle="Popover Title" data-bs-original-title="Popover title">Click to toggle
                            popover</button>
                        <a class="example-popover btn btn-primary" tabindex="0" role="button" data-bs-toggle="popover"
                            data-bs-trigger="focus"
                            popover="And here's some amazing content. It's very engaging. Right?"
                            popoverTitle="Popover title" triggers="focus"
                            data-bs-content="And here's some amazing content. It's very engaging. Right?"
                            data-bs-original-title="Popover title">Dismissible popover</a>
                        <button class="example-popover btn btn-primary" type="button" data-bs-trigger="hover"
                            data-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
                            popoverTitle="Popover title"
                            popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            triggers="mouseenter:mouseleave" data-offset="-20px -20px"
                            data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            data-bs-original-title="Popover title">On Hover Tooltip</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Basic Popovers -->

        <!-- Colored Headers -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Colored Headers</h5>
                </div>
                <div class="card-body">
                    <div class="btn-list popover-list">
                        <button type="button" class="btn btn-outline-primary btn-wave" data-bs-toggle="popover"
                            data-bs-placement="top" data-bs-custom-class="header-primary"
                            data-bs-content="Popover with primary header." popover="Popover with primary header."
                            popoverTitle="Color Header" placement="top" containerClass="primary-color-popover">
                            Header Primary
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-wave" data-bs-toggle="popover"
                            data-bs-placement="right" data-bs-custom-class="header-secondary"
                            data-bs-content="Popover with secondary header." popover="Popover with secondary header."
                            popoverTitle="Color Header" placement="right" containerClass="secondary-color-popover">
                            Header Secondary
                        </button>
                        <button type="button" class="btn btn-outline-info btn-wave" data-bs-toggle="popover"
                            data-bs-placement="bottom" data-bs-custom-class="header-info"
                            data-bs-content="Popover with info header." popover="Popover with info header."
                            popoverTitle="Color Header" placement="bottom" containerClass="info-color-popover">
                            Header Info
                        </button>
                        <button type="button" class="btn btn-outline-warning btn-wave" data-bs-toggle="popover"
                            data-bs-placement="left" data-bs-custom-class="header-warning"
                            data-bs-content="Popover with warning header." popover="Popover with warning header."
                            popoverTitle="Color Header" placement="left" containerClass="warning-color-popover">
                            Header Warning
                        </button>
                        <button type="button" class="btn btn-outline-success btn-wave" data-bs-toggle="popover"
                            data-bs-placement="top" data-bs-custom-class="header-success"
                            data-bs-content="Popover with success header." popover="Popover with success header."
                            popoverTitle="Color Header" placement="top" containerClass="success-color-popover">
                            Header Success
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-wave" data-bs-toggle="popover"
                            data-bs-placement="top" data-bs-custom-class="header-danger"
                            data-bs-content="Popover with danger header." popover="Popover with danger header."
                            popoverTitle="Color Header" placement="top" containerClass="danger-color-popover">
                            Header Danger
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Colored Headers -->

        <!-- Colored Popovers -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Colored Popovers</h5>
                </div>
                <div class="card-body">
                    <div class="btn-list popover-list">
                        <button type="button" class="btn btn-primary btn-wave" data-bs-toggle="popover"
                            data-bs-placement="top" data-bs-custom-class="popover-primary"
                            data-bs-content="Popover with primary background."
                            popover="Popover with primary background." popoverTitle="Color Background" placement="top"
                            containerClass="primary-background-popover">
                            Primary
                        </button>
                        <button type="button" class="btn btn-secondary btn-wave" data-bs-toggle="popover"
                            data-bs-placement="right" data-bs-custom-class="popover-secondary"
                            data-bs-content="Popover with secondary background."
                            popover="Popover with secondary background." popoverTitle="Color Background"
                            placement="right" containerClass="secondary-background-popover">
                            Secondary
                        </button>
                        <button type="button" class="btn btn-info btn-wave" data-bs-toggle="popover"
                            data-bs-placement="bottom" data-bs-custom-class="popover-info"
                            data-bs-content="Popover with info background." popover="Popover with info background."
                            popoverTitle="Color Background" placement="bottom" containerClass="info-background-popover">
                            Info
                        </button>
                        <button type="button" class="btn btn-warning btn-wave" data-bs-toggle="popover"
                            data-bs-placement="left" data-bs-custom-class="popover-warning"
                            data-bs-content="Popover with warning background."
                            popover="Popover with warning background." popoverTitle="Color Background" placement="left"
                            containerClass="warning-background-popover">
                            Warning
                        </button>
                        <button type="button" class="btn btn-success btn-wave" data-bs-toggle="popover"
                            data-bs-placement="top" data-bs-custom-class="popover-success"
                            data-bs-content="Popover with success background."
                            popover="Popover with success background." popoverTitle="Color Background" placement="top"
                            containerClass="success-background-popover">
                            Success
                        </button>
                        <button type="button" class="btn btn-danger btn-wave" data-bs-toggle="popover"
                            data-bs-placement="right" data-bs-custom-class="popover-danger"
                            data-bs-content="Popover with danger background." popover="Popover with danger background."
                            popoverTitle="Color Background" placement="right"
                            containerClass="danger-background-popover">
                            Danger
                        </button>
                        <button type="button" class="btn btn-teal btn-wave" data-bs-toggle="popover"
                            data-bs-placement="bottom" data-bs-custom-class="popover-teal"
                            data-bs-content="Popover with teal background." popover="Popover with teal background."
                            popoverTitle="Color Background" placement="bottom" containerClass="teal-background-popover">
                            Teal
                        </button>
                        <button type="button" class="btn btn-purple btn-wave" data-bs-toggle="popover"
                            data-bs-placement="left" data-bs-custom-class="popover-purple"
                            data-bs-content="Popover with purple background." popover="Popover with purple background."
                            popoverTitle="Color Background" placement="left" containerClass="purple-background-popover">
                            Purple
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Colored Popovers -->

        <!-- Light Colored Popovers -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Light Colored Popovers</h5>
                </div>
                <div class="card-body">
                    <div class="btn-list popover-list">
                        <button type="button" class="btn btn-soft-primary btn-wave" data-bs-toggle="popover"
                            data-bs-placement="top" data-bs-custom-class="popover-primary-light"
                            data-bs-content="Popover with light primary background."
                            popover="Popover with light primary background." popoverTitle="Light Background"
                            placement="top" containerClass="primary-light-popover">
                            Primary
                        </button>
                        <button type="button" class="btn btn-soft-secondary btn-wave" data-bs-toggle="popover"
                            data-bs-placement="right" data-bs-custom-class="popover-secondary-light"
                            data-bs-content="Popover with light secondary background."
                            popover="Popover with light primary background." popoverTitle="Light Background"
                            placement="right" containerClass="secondary-light-popover">
                            Secondary
                        </button>
                        <button type="button" class="btn btn-soft-info btn-wave" data-bs-toggle="popover"
                            data-bs-placement="bottom" data-bs-custom-class="popover-info-light"
                            data-bs-content="Popover with light info background."
                            popover="Popover with light info background." popoverTitle="Light Background"
                            placement="bottom" containerClass="info-light-popover">
                            Info
                        </button>
                        <button type="button" class="btn btn-soft-warning btn-wave" data-bs-toggle="popover"
                            data-bs-placement="left" data-bs-custom-class="popover-warning-light"
                            data-bs-content="Popover with light warning background."
                            popover="Popover with light warning background." popoverTitle="Light Background"
                            placement="left" containerClass="warning-light-popover">
                            Warning
                        </button>
                        <button type="button" class="btn btn-soft-success btn-wave" data-bs-toggle="popover"
                            data-bs-placement="top" data-bs-custom-class="popover-success-light"
                            data-bs-content="Popover with light success background."
                            popover="Popover with light success background." popoverTitle="Light Background"
                            placement="top" containerClass="success-light-popover">
                            Success
                        </button>
                        <button type="button" class="btn btn-soft-danger btn-wave" data-bs-toggle="popover"
                            data-bs-placement="right" data-bs-custom-class="popover-danger-light"
                            data-bs-content="Popover with light danger background."
                            popover="Popover with light danger background." popoverTitle="Light Background"
                            placement="top" containerClass="danger-light-popover">
                            Danger
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Light Colored Popovers -->

        <!-- Dismissible Popovers -->
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Dismissible Popovers
                    </div>
                </div>
                <div class="card-body d-flex flex-wrap justify-content-between">
                    <a tabindex="0" class="custom-popover btn btn-primary m-1" role="button" data-bs-toggle="popover"
                        data-bs-trigger="focus" data-bs-placement="top"
                        data-bs-content="And here's some amazing content. It's very engaging. Right?"
                        popover="And here's some amazing content. It's very engaging. Right?"
                        popoverTitle="Dismissible popover" triggers="focus">Popover Dismiss
                    </a>
                    <a tabindex="0" class="custom-popover btn btn-secondary m-1" role="button" data-bs-toggle="popover"
                        data-bs-trigger="focus" data-bs-placement="right"
                        data-bs-content="And here's some amazing content. It's very engaging. Right?"
                        popover="And here's some amazing content. It's very engaging. Right?"
                        popoverTitle="Dismissible popover" triggers="focus">Popover Dismiss
                    </a>
                    <a tabindex="0" class="custom-popover btn btn-info m-1" role="button" data-bs-toggle="popover"
                        data-bs-trigger="focus" data-bs-placement="bottom"
                        data-bs-content="And here's some amazing content. It's very engaging. Right?"
                        popover="And here's some amazing content. It's very engaging. Right?"
                        popoverTitle="Dismissible popover" triggers="focus">Popover Dismiss
                    </a>
                    <a tabindex="0" class="custom-popover btn btn-warning m-1" role="button" data-bs-toggle="popover"
                        data-bs-trigger="focus" data-bs-placement="left"
                        data-bs-content="And here's some amazing content. It's very engaging. Right?"
                        popover="And here's some amazing content. It's very engaging. Right?"
                        popoverTitle="Dismissible popover" triggers="focus">Popover Dismiss
                    </a>
                </div>
            </div>
        </div>
        <!-- /Dismissible Popovers -->

        <!-- Disabled Popovers -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Disabled Popover
                    </div>
                </div>
                <div class="card-body">
                    <span class="d-inline-block custom-disabled-span" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                        data-bs-content="Disabled popover" popover="Disabled popover" triggers="mouseenter:mouseleave">
                        <button class="btn btn-primary" type="button" disabled>Disabled
                            button</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- /Disabled Popovers -->

        <!-- Icon Popovers -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Icon Popovers
                    </div>
                </div>
                <div class="card-body d-flex">
                    <a class="me-4 feather-size d-block" href="javascript:void(0)" data-bs-toggle="popover"
                        data-bs-placement="top" data-bs-custom-class="popover-primary only-body"
                        data-bs-content="This popover is used to provide details about this icon."
                        popover="This popover is used to provide details about this icon."
                         placement="top" containerClass="icon-popover-details">
                        <i class="feather icon-alert-circle text-primary"></i>
                    </a>
                    <a class="me-4 feather-size d-block" href="javascript:void(0)" data-bs-toggle="popover"
                        data-bs-placement="left" data-bs-custom-class="popover-secondary only-body"
                        data-bs-content="This popover is used to provide information about this icon."
                        popover="This popover is used to provide information about this icon."
                        containerClass="icon-popover-information"
                        >
                        <i class="feather icon-help-circle text-secondary"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Icon Popovers -->

    </div>