<div class="page-header settings-pg-header">
  <div class="add-item d-flex">
    <div class="page-title">
      <h4>Settings</h4>
      <h6>Manage your settings on portal</h6>
    </div>
  </div>
  <ul class="table-top-head">
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh" matTooltip="Refresh"
        matTooltipPosition="above"><i class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
      </li>
      <li>
        <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse" matTooltip="Collapse"
          matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
          <i class="feather icon-chevron-up feather-chevron-up"></i>
        }
        @if (isCollapsed) {
          <i class="feather icon-chevron-down feather-chevron-down"></i>
        }</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="settings-wrapper d-flex">
        <app-settings-sidebar></app-settings-sidebar>
        <div class="settings-page-wrap w-50">
          <div class="setting-title">
            <h4>Currency</h4>
          </div>
          <div class="page-header bank-settings justify-content-end">
            <div class="page-btn">
              <a href="javascript:void(0);" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#add-currency"><i  class="feather icon-plus-circle me-2"></i>Add New Currency</a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card table-list-card">
                <div class="card-body">
                  <div class="table-top">
                    <div class="search-set">
                      <div class="search-input">
                        <a href="javascript:void(0);" class="btn btn-searchset"><i class="feather icon-search feather-search"></i></a>
                        <div class="dataTables_filter">
                          <label>
                            <input
                              [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}"
                              (ngModelChange)="searchData(searchDataValue)"
                              type="search"
                              class="form-control"
                              placeholder="Search..."
                              />
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="search-path">
                        <div class="d-flex align-items-center">
                          <a class="btn btn-filter" id="filter_search"   (click)="openFilter()"
                            [ngClass]="{ setclose: filter === true }">
                            <i  class="feather icon-filter filter-icon"></i>
                            <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                          </a>
                        </div>
                      </div>
                      <div class="form-sort">
                        <i  class="feather icon-sliders info-img"></i>

                        <mat-select
                          [(ngModel)]="selectedValue1"
                          [ngModelOptions]="{ standalone: true }"
                          class="select space-select"
                          placeholder="Sort by Date"
                          >
                          @for (data of selectedList1; track data) {
                            <mat-option [value]="data.value">
                              {{ data.value }}
                            </mat-option>
                          }
                        </mat-select>
                      </div>
                    </div>
                    <!-- /Filter -->
                    <div class="card" id="filter_inputs" [ngClass]="{ 'd-block': filter, 'd-none': !filter }">
                      <div class="card-body pb-0">
                        <div class="row">
                          <div class="col-lg-4 col-sm-6 col-12">
                            <div class="input-blocks">
                              <i  class="feather icon-user info-img"></i>

                              <mat-select
                                [(ngModel)]="selectedValue2"
                                [ngModelOptions]="{ standalone: true }"
                                class="select space-select"
                                placeholder="Choose"
                                >
                                @for (data of selectedList2; track data) {
                                  <mat-option [value]="data.value">
                                    {{ data.value }}
                                  </mat-option>
                                }
                              </mat-select>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-6 col-12 ms-auto">
                            <div class="input-blocks">
                              <a class="btn btn-filters ms-auto"> <i class="feather icon searchfeather-search"></i> Search </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Filter -->
                    <div class="table-responsive">
                      <table  matSort matSortActive="Sno" matSortDirection="asc"
                        matSortDisableClear class="table  datanew">
                        <thead>
                          <tr>
                            <th>
                              <label class="checkboxs" >

                                <span class="checkmarks"></span>
                              </label>
                            </th>
                            <th mat-sort-header="Currencyname">Currency Name</th>
                            <th mat-sort-header="Currencycode">Code</th>
                            <th mat-sort-header="Currencysymbol">Symbol</th>
                            <th mat-sort-header="exchangerate">Exchange Rate</th>
                            <th mat-sort-header="Createdon">Created On</th>
                            <th class="no-sort text-end">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (settings of tableData; track settings; let i = $index) {
                            <tr>
                              <td>
                                <label class="checkboxs">
                                  <input type="checkbox">
                                  <span class="checkmarks"></span>
                                </label>
                              </td>
                              <td>{{settings.currencyName}}</td>
                              <td>{{settings.currencyCode}}</td>
                              <td>{{settings.currencySymbol}}</td>
                              <td>{{settings.exchangerate}}</td>
                              <td>{{settings.createdOn}}</td>

                              <td class="action-table-data justify-content-end">
                                <div class="edit-delete-action">
                                  <a class="me-2 p-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#edit-currency">
                                    <i  class="feather icon-edit feather-edit"></i>
                                  </a>
                                  <a class="confirm-text p-2" href="javascript:void(0);">
                                    <i  class=" feather icon-trash-2 feather-trash-2"></i>
                                  </a>
                                </div>

                              </td>
                            </tr>
                          }

                        </tbody>
                      </table>


                    </div>
                    <app-custom-pagination></app-custom-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Currency -->
    <div class="modal fade" id="add-currency">
      <div class="modal-dialog modal-dialog-centered custom-modal-two">
        <div class="modal-content">
          <div class="page-wrapper-new p-0">
            <div class="content">
              <div class="modal-header border-0 custom-modal-header">
                <div class="page-title">
                  <h4>Add Currency</h4>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body custom-modal-body">
                <form>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label class="form-label">Currency Name <span> *</span></label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label class="form-label">Currency Symbol <span> *</span></label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label class="form-label">Currency Code <span> *</span></label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label class="form-label">Currency Rate <span> *</span></label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="status-toggle modal-status d-flex justify-content-between align-items-center">
                        <span class="status-label">Status</span>
                        <input type="checkbox" id="user6" class="check" checked="">
                        <label for="user6" class="checktoggle"></label>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer-btn">
                    <button type="button" class="btn btn-cancel me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Add Currency -->

    <!-- Edit Currency -->
    <div class="modal fade" id="edit-currency">
      <div class="modal-dialog modal-dialog-centered custom-modal-two">
        <div class="modal-content">
          <div class="page-wrapper-new p-0">
            <div class="content">
              <div class="modal-header border-0 custom-modal-header">
                <div class="page-title">
                  <h4>Edit Currency</h4>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body custom-modal-body">
                <form>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label class="form-label">Currency Name <span> *</span></label>
                        <input type="text" class="form-control" value="Euro">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label class="form-label">Currency Symbol <span> *</span></label>
                        <input type="text" class="form-control" value="EUR">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label class="form-label">Currency Code <span> *</span></label>
                        <input type="text" class="form-control" value="€">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label class="form-label">Currency Rate <span> *</span></label>
                        <input type="text" class="form-control" value="Default">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="status-toggle modal-status d-flex justify-content-between align-items-center">
                        <span class="status-label">Status</span>
                        <input type="checkbox" id="user5" class="check" checked="">
                        <label for="user5" class="checktoggle"></label>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer-btn">
                    <button type="button" class="btn btn-cancel me-2" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-submit">Save Changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Edit Currency -->