<div class="page-header">
    <div class="add-item d-flex">
        <div class="page-title">
            <h4>New User</h4>
            <h6>Create new User</h6>
        </div>
    </div>
    <ul class="table-top-head">
        <li>
            <div class="page-btn">
                <!-- <a [routerLink] = "routes.employeesList" class="btn btn-secondary"><i  class="feather icon-arrow-left me-2"></i>Back to Employee List</a> -->
            </div>
        </li>
        <li>
            <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse"
                id="collapse-header" matTooltip="Collapse" matTooltipPosition="above"> @if (!isCollapsed) {
                <i class="feather icon-chevron-up feather-chevron-up"></i>
                }
                @if (isCollapsed) {
                <i class="feather icon-chevron-down feather-chevron-down"></i>
                }</a>
        </li>
    </ul>
</div>


<!-- <form> -->
    <!-- <form cForm [formGroup]="userForm" (ngSubmit)="submitUserForm()"> -->
        <!-- <form [formGroup]="userForm" (ngSubmit)="submitUserForm()"> -->
            <form #userForm (ngSubmit)="submitUserForm()">
     <div class="card">
        <div class="card-body">
            <div class="new-employee-field">
                <div class="card-title-head">
                    <h6><span><i class=" feather icon-info feather-edit"></i></span>User Information</h6>
                </div>
                <div class="profile-pic-upload">
                    <div class="profile-pic">
                        <span><i class="feather icon-plus-circle plus-down-add"></i> Profile Photo</span>
                    </div>
                    <div class="input-blocks mb-0">
                        <div class="image-upload mb-0">
                            <input type="file">
                            <div class="image-uploads">
                                <h4>Change Image</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <!-- <input type="text" class="form-control" formControlName="loginId" > -->
                        <input type="text" name="firstname" >  
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="text-end mb-3">
        <button type="button" class="btn btn-cancel me-2">Cancel</button>
        <button type="submit" class="btn btn-submit">Save Product</button>
    </div>

</form>