<!-- Page Header -->
<div class="page-header">
  <div class="row">
    <div class="col">
      <h3 class="page-title">Data Tables</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="routes.dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Data Tables</li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Default Datatable</h4>
        <p class="card-text">
          This is the most basic example of the datatables with zero configuration. Use the
          <code>.datatable</code> class to initialize datatables.
        </p>
      </div>
      <div class="card-body">
        <div class="table-top">
          <div class="dataTables_filter">
            <label>
              <input
                [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="searchData(searchDataValue)"
                type="search"
                class="form-control"
                placeholder="Search..."
                />
              </label>
            </div>
          </div>
          <div class="table-responsive">
            <table (matSortChange)="sortData($event)" matSort matSortActive="Sno" matSortDirection="asc"
              matSortDisableClear class="table datanew">
              <thead>
                <tr>
                  <th mat-sort-header="Name">Name</th>
                  <th mat-sort-header="Position">Position</th>
                  <th mat-sort-header="Office">Office</th>
                  <th mat-sort-header="Age">Age</th>
                  <th mat-sort-header="Startdate">Start date</th>
                  <th mat-sort-header="Salary">Salary</th>
                </tr>
              </thead>
              <tbody>
                @for (table of tableData; track table) {
                  <tr>
                    <td>{{table.name}}</td>
                    <td>{{table.position}}</td>
                    <td>{{table.office}}</td>
                    <td>{{table.age}}</td>
                    <td>{{table.startDate}}</td>
                    <td>{{table.salary}}</td>
                  </tr>
                }
                @if (tableData.length === 0) {
                  <tr>
                    <td colspan="12">
                      <h5 class="no-record">No matching records found</h5>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            
          </div>
          <app-custom-pagination></app-custom-pagination>
        </div>
      </div>
    </div>
  </div>

 