<div class="account-content">
    <div class="login-wrapper bg-img">
        <div class="login-content">
            <form>
                <div class="login-userset">
                    <div class="login-logo logo-normal">
                       <img src="assets/img/logo.png" alt="img">
                   </div>
                   <a [routerLink] = "routes.adminDashboard" class="login-logo logo-white">
                       <img src="assets/img/logo-white.png"  alt="">
                   </a>
                   <div class="login-userheading">
                       <h3>Reset password?</h3>
                       <h4>Enter New Password & Confirm Password to get inside</h4>
                   </div>
                   <div class="form-login">
                       <label> Old Password</label>
                       <div class="pass-group">
                        <input [type]="password[1] ? 'text' : 'password' " class="pass-input">
                        <span class="fas toggle-password" [ngClass]=" password[1] ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword(1)"></span>
                       </div>
                   </div>
                   <div class="form-login">
                       <label>New Password</label>
                       <div class="pass-group">
                        <input [type]="password[2] ? 'text' : 'password' " class="pass-input">
                        <span class="fas toggle-password" [ngClass]=" password[2] ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword(2)"></span>
                       </div>
                   </div>
                   <div class="form-login">
                       <label> New Confirm Password</label>
                       <div class="pass-group">
                        <input [type]="password[3] ? 'text' : 'password' " class="pass-input">
                        <span class="fas toggle-password" [ngClass]=" password[3] ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword(3)"></span>
                       </div>
                   </div>
                   <div class="form-login">
                       <button type="button" class="btn btn-login" (click)="navigation()">Change Password</button>
                   </div>
                   <div class="signinform text-center">
                       <h4>Return to <a [routerLink] = "routes.signIn2" class="hover-a"> login </a></h4>
                   </div>
                   <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
                       <p>Copyright &copy; 2023 DreamsPOS. All rights reserved</p>
                   </div>
               </div>
            </form>
        </div>
        <div class="login-img">
            <img src="assets/img/authentication/reset02.png" alt="img">
        </div>
    </div>
</div>