<!-- Page Header -->
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">File Upload</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink] = "routes.adminDashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">File Upload</li>
      </ul>
    </div>
  </div>
</div>
<!-- /Page Header -->

<div class="row">

  <!-- Drag Card -->
  <div class="col-md-12">

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Single File Upload</h5>
      </div>
      <div class="card-body">
        <div class="custom-file-container" data-upload-id="myFirstImage">
          <label>Upload (Single File) <a href="javascript:void(0)" class="custom-file-container__image-clear"
          title="Clear Image"></a></label>
          <ngx-dropzone (change)="onSingleSelect($event)" class="service-upload" [multiple]="false">
            <ngx-dropzone-label class="drop-browse align-center">
              <span><img src="assets/img/icons/drop-icon.svg" alt="upload" /></span>
              <div class="d-flex">
                Drop your files here or<span class="text-primary ms-1">browse</span>
              </div>
              <span class="text-muted">Maximum size: 50MB</span>
            </ngx-dropzone-label>
            @for (f of singleFile; track f) {
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                [file]="f" [removable]="true" (removed)="onRemoveSingle(f)">
              </ngx-dropzone-image-preview>
            }
          </ngx-dropzone>


        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Multiple File Upload</h5>
      </div>
      <div class="card-body">
        <div class="custom-file-container" data-upload-id="mySecondImage">
          <label>Upload (Allow Multiple) <a href="javascript:void(0)"
          class="custom-file-container__image-clear" title="Clear Image"></a></label>
          <ngx-dropzone (change)="onMultipleSelect($event)" class="service-upload">
            <ngx-dropzone-label class="drop-browse align-center">
              <span><img src="assets/img/icons/drop-icon.svg" alt="upload" /></span>
              <div class="d-flex">
                Drop your files here or<span class="text-primary ms-1">browse</span>
              </div>
              <span class="text-muted">Maximum size: 50MB</span>
            </ngx-dropzone-label>
            @for (f of multipleFiles; track f) {
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                [file]="f" [removable]="true" (removed)="onRemoveMultiple(f)">
              </ngx-dropzone-image-preview>
            }
          </ngx-dropzone>
          <div class="custom-file-container__image-preview"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Drag Card -->

</div>