<div class="cardhead">
    <div class=" container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Counter</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Counter</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">

            <!-- Counter -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body number-display">
                        <h5>Clients</h5>
                        {{ counter }}
                    </div>
                </div>
            </div>
            <!-- /Counter -->

            <!-- Counter -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body number-display">
                        <h5>Total Sales</h5>
                        {{ counter1 }}
                    </div>
                </div>
            </div>
            <!-- /Counter -->

            <!-- Counter -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Projects</h5>
                        {{ counter2 }}
                    </div>
                </div>
            </div>
            <!-- /Counter -->

            <!-- Counter -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Count Down</h5>
                    </div>
                    <div class="card-body">
                        <h6>Time Count from 3</h6>
                        {{ counter4 | formatTime }}
                    </div>
                </div>
            </div>
            <!-- /Counter -->

            <!-- Counter -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Count Up</h5>
                    </div>
                    <div class="card-body">
                        <h6>Time Counting From 0</h6>
                        {{ counter5 | formatTime }}
                    </div>
                </div>
            </div>
            <!-- /Counter -->

            <!-- Counter -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Count Inbetween</h5>
                    </div>
                    <div class="card-body">
                        <h6>Time counting from 30 to 20</h6>
                        {{ counter6 | formatTime }}
                    </div>
                </div>
            </div>
            <!-- /Counter -->

            <!-- Counter -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Count Callback</h5>
                    </div>
                    <div class="card-body">
                        <h6>Count from 10 to 0 and calls timer end callback</h6>
                        {{ counter7 | formatTime }}
                    </div>
                </div>
            </div>
            <!-- /Counter -->

            <!-- Counter -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Custom Output</h5>
                    </div>
                    <div class="card-body">
                        <h6>Changed output pattern</h6>
                        <span>{{ demo }}</span>
                    </div>
                </div>
            </div>
            <!-- /Counter -->

        </div>


    </div>
</div>
