<div class="cardhead">


  <!-- Page Header -->
  <div class="page-header">
      <div class="row">
          <div class="col-sm-12">
              <h3 class="page-title">Scroll Bar</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="routes.dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active">Scroll Bar</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
      <!-- Scroll -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Horizontal Scroll</h5>
          </div>
          <div class="card-body">
            <div>
              <cdk-virtual-scroll-viewport
                orientation="horizontal"
                class="horizontal-scroll scroll-demo"
                itemSize="50"
              >
                <div class="row">
                  <p class="col-sm-3" *cdkVirtualFor="let item of horizontalScroll">
                    {{ item }}
                  </p>
                </div>
              </cdk-virtual-scroll-viewport>
            </div>
    
            
             
          </div>
        </div>
      </div>
      <!-- /Scroll -->
    
      <!-- Scroll -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Vertical Scroll</h5>
          </div>
          <div class="card-body">
            <cdk-virtual-scroll-viewport
              appendOnly
              itemSize="10"
              class="vertical-scroll scroll-demo"
            >
              <p *cdkVirtualFor="let item of verticalScroll">{{ item }}</p>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>
      <!-- /Scroll -->
    
      <!-- Scroll -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Small Size Scroll</h5>
          </div>
          <div class="card-body">
            <cdk-virtual-scroll-viewport
              appendOnly
              itemSize="50"
              class="small-scroll scroll-demo"
            >
              <p *cdkVirtualFor="let item of verticalScroll">{{ item }}</p>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>
      <!-- /Scroll -->
    
      <!-- Scroll -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Visible Scroll</h5>
          </div>
          <div class="card-body">
            <div>
              <cdk-virtual-scroll-viewport
                orientation="horizontal"
                class="scroll-demo"
                itemSize="50"
              >
                <div class="row">
                  <p class="col-sm-3" *cdkVirtualFor="let item of horizontalScroll">
                    {{ item }}
                  </p>
                </div>
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
        </div>
      </div>
      <!-- /Scroll -->
    </div>
    
    


</div>