<div class="cardhead">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Rating</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Rating</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-xxl-4 col-xl-6">
        <div class="card custom-card">
          <div class="card-header">
          <div class="card-title">
              Basic Rater
          </div> 
          </div>
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <p class="fs-14 mb-0 fw-semibold">Show Some <span class="text-danger">&#10084;</span> with rating :</p>
              <div id="rater-basic">
                <ngb-rating [(rate)]="defaultSelect" [readonly]="readonly" class="stars" [max]=5></ngb-rating>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-6">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">
              5 star rater with steps
            </div> 
          </div>
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <p class="fs-14 mb-0 fw-semibold">Dont forget to rate the product :</p>
              <div id="rater-steps">
                @for (item of halfRatingStar; track item; let i = $index) {
                  @if (item.show === false && item.half === false) {
                    <img
                      (click)="clickBasicStar(item, i, halfRatingStar)" class="me-1"
                      src="assets/img/ratings/star-off.png" />
                  }
                  @if (item.show === true) {
                    <img (click)="clickBasicStar(item, i, halfRatingStar)" class="me-1"
                      src="assets/img/ratings/star-on.png" />
                  }
                  @if (item.half === true) {
                    <img src="assets/img/ratings/star-half.png" />
                  }
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-12">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">
              Custom messages
            </div> 
          </div>
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <p class="fs-14 mb-0 fw-semibold">Your rating is much appreciated:</p>
              <div id="custom-messages">
                @for (item of maxStar; track item; let i = $index) {
                  <img 
                    (click)="clickBasicStar(item, i, maxStar)"
                    (mouseover)="hoverStar(i, maxStar)"
                    (mouseout)="hoverStar(-1, maxStar)"
                    class="me-1"
                    [src]="item.show ? 'assets/img/ratings/star-on.png' : 'assets/img/ratings/star-off.png'" />
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">
              Unlimited number of stars readOnly
            </div> 
          </div>
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <p class="fs-14 mb-0 fw-semibold">Thanks for rating :</p>
              <div id="stars-unlimited">
                @for (item of readOnlyStar; track item; let i = $index) {
                  @if (item.show === false) {
                    <img src="assets/img/ratings/star-off.png" class="me-1"/>
                  }
                  @if (item.show === true) {
                    <img src="assets/img/ratings/star-on.png" class="me-1"/>
                  }
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">
              5 Star rater with custom isBusyText and simulated backend
            </div> 
          </div>
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <p class="fs-14 mb-0 fw-semibold">Thanks for rating :</p>
              <div id="stars-busytext">
                @for (item of savedStar; track item; let i = $index) {
                  @if (item.show === false) {
                    <img (click)="clickBasicStar(item, i, savedStar)" class="me-1"
                      src="assets/img/ratings/star-off.png" />
                  }
                  @if (item.show === true) {
                    <img (click)="clickBasicStar(item, i, savedStar)" class="me-1"
                      src="assets/img/ratings/star-on.png" />
                  }
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-6">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">
              On hover event
            </div> 
          </div>
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <p class="fs-14 mb-0 fw-semibold">Please give your valuable rating :</p>
              <div class="d-flex flex-wrap align-items-center">
                <div id="stars-hover">
                  <ngb-rating [(rate)]="hoverSelect" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly" class="stars" [max]=5></ngb-rating>
                    
                </div>
                <span class="live-rating badge bg-success-transparent ms-3" (click)="increaseRating()">
                  {{hovered}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-6">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">
              Clear/reset rater
            </div> 
          </div>
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <p class="fs-14 mb-0 fw-semibold">Thank You so much for your support :</p>
              <div class="d-flex flex-wrap align-items-center">
                <div id="rater-reset">
                  <ngb-rating [(rate)]="clearRate" [readonly]="readonly" class="stars align-middle star-rating" [max]=5></ngb-rating>
                </div>
                <button class="btn btn-icon btn-sm btn-danger-light ms-3" id="rater-reset-button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Reset" (click)="clearRate = 0">
                  <i  class="feather icon-rotate-cw feather-16"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
